* {
    border: 1px solid red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    display: flex;
    flex-direction: column;
}

.form__container {
    display: flex;
    flex-direction: row;
}